services:
  app:
    extends:
      file: docker-compose.yml
      service: app
    build:
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - "./app:/app"
    entrypoint: ["make", "dev"]
