services:
  app:
    extends:
      file: docker-compose.yml
      service: app
    build:
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - "./app:/app"
    command: make dev

  db:
    extends:
      file: docker-compose.yml
      service: db

  caddy:
    image: caddy
    container_name: hexlet-caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - "./services/caddy:/etc/caddy"
    depends_on:
      - app
    links:
      - app
